* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

html, body {
    background-color: hsl(223, 78%, 4%);
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
}

button, 
a,
input,
ul,
li {
    all: unset;
}

#root {
    background-color: hsl(229, 53%, 6%);
    display: flex;
    flex-direction: column;
    width: 80%;
    border-left: 2px solid hsla(229, 25%, 15%, 0.1);
    border-right: 2px solid hsla(229, 25%, 15%, 0.1);
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-bottom: 1px solid hsla(229, 25%, 15%, 1);
    padding: 0 35px;
}

header > a > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

header > nav {
    display: flex;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;  
    cursor: pointer;
    color: hsla(229, 10%, 60%, 1);
}

header > nav button {
    transition: ease 0.3s;
}

header > nav button:hover {
    color: white;
}

header > nav .button--active {
    color: white;
    border-bottom: 3px solid hsl(83, 37%, 50%);
    line-height: 45px;
}

/* HOME PAGE CONTENT */

.home-page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    gap: 25px;
}

.home-page-content > h1 {
    font-size: 60px;
}

.home-page-content > p {
    font-size: 32px;
}

.home-page-content > p > span {
    font-style: italic;
    font-weight: 700;
    color: hsl(83, 37%, 50%);
    text-decoration-line: underline;
}

.home-page-content > input {
    width: 600px;
    height: 60px;
    background-color: hsla(229, 25%, 15%, 1);
    border-radius: 8px;
    padding-left: 20px;
}

.home-page-content > input::placeholder {
    color: hsla(229, 10%, 50%, 1);
}

.home-page-content > input:focus {
    border: 1px solid hsl(83, 37%, 50%);
}

.popular-search-keys {
    display: flex;
    gap: 25px;
}

.popular-search-keys > p {
    color: hsla(229, 10%, 50%, 1);
}

.popular-search-keys > ul {
    display: flex;
    gap: 15px;
}

.popular-search-keys > ul > li {
    cursor: pointer;
    font-weight: 600;
    color: hsla(229, 10%, 60%, 1);

}

/* EVENTS PAGE CONTENT */

.events-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
    padding-top: 100px;
    flex: 1;
    gap: 50px;

}

.events-page-content > h1 {
    font-size: 60px;
}

.event-cards-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-card {
    background-color: hsla(229, 20%, 10%, 1);;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    transition: ease 0.3s;
}

.event-card:hover {
    transform: scale(1.1);
}

.event-card:active {
    transform: scale(1.05);
}

.event-card > img {
    width: 100%;
    flex: 2;
    object-fit: cover
}

.event-card-infos-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
}

.event-card__title {
    font-size: 18px;
}

.event-card__author {
    font-style: italic;
    color: hsla(229, 10%, 75%, 1);
}

.event-card__place {
    padding-top: 25px;
    font-size: 12px;
    color: hsla(229, 10%, 70%, 1);

}

.event-card__date-container {
    background-color: hsla(0, 10%, 0%, 0.2);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.event-card__date-container > span:first-child {
    font-weight: 800;
}

.event-card__date-container > span:last-child {
    font-size: 14px;
    color: hsl(83, 80%, 50%);
}

/* EVENT DETAILS PAGE CONTENT */

.event-details-page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 80px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background-image: url("./assets/dj.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(25px);
}

.event-details__header {
    z-index: 1;
    display: flex;
    height: 400px;
    padding-top: 100px;
    padding-left: 25%;
    gap: 50px;
}

.event-details__header > img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 69%, 0.6);
    box-shadow: 0px 5px 5px hsl(0, 0%, 20%, 0.5);
}

.event-details__header > div {
    display: flex;
    height: 200px;
    flex-direction: column;
}

.event-details__header > div > p {
    font-size: 16px;
}

.event-details__header > div > h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.event-details__header > div p:not(:first-of-type) {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}

.event-details__header > div > div {
    flex: 1;
    background-color: hsl(0, 0%, 75%, 0.3);
    border-radius: 6px;
    transition: ease 0.3s;
}

.event-details__header > div > div:hover {
    transform: scale(1.05);
}

.event-details__header > div > div > button {
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.event-details__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.event-details__content h3 {
    font-size: 22px;
}

.event-details__content p {
    font-size: 16px;
    width: 80%;
    text-align: center;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-top: 1px solid hsla(229, 25%, 15%, 1);
    padding: 0 25px;
}

footer > nav {
    display: flex;
    gap: 15px;
    color: inherit;
}

footer small {
    color: hsla(229, 10%, 60%, 1);
}

footer > nav small {
    cursor: pointer;
}

footer > nav small:hover {
    text-decoration: underline;
}






